/* product page - selection */
#navb{
    height: 8vh;
    display: flex;
    align-items: center;
    border: solid;
}
#navb .container{
    width: 100%;
    display: flex;
}
#navb .row{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#navb .col{
    text-align: center;
}
#navb a{
    color: black;
    font-size: 16px;
    text-decoration: none;
}
#navb a:hover{
    color: blue;
}

/* product page - menu */
#food .foodcontainer{
    position: relative;
}
#food .foodlist{
    display: flex;
    flex-direction: column;
    height: 900px;
    border: solid;
    justify-content: space-evenly;
}
#food .row{
    width: 100%;
}
#food .col{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#food .img{
    display: block;
    width: 300px;
    height: 300px;
}
#food .info{
    position: absolute;
    background-color: white;
    overflow: hidden;
    width: 300px;
    height: 0px;
    transition: .5s ease;
}
#food .food:hover .info{
    height: 8%;
}
#food .text{
    color: black;
}
#food .title{
    font-weight: bold;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
}